@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    background-color: black;
}

form > div, fieldset, fieldset > div{
    margin-bottom: 10px;
}

form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

h1{
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
}

fieldset{
    padding-left: 0;
    background: #EEE;
    border: 1px solid #AAA;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 3px 3px 5px rgb(94, 93, 93);
}

legend, label{
    color: #ffffff;
    font-weight: bold;
    font-variant: small-caps;
    font-family: 'Poppins', sans-serif;
}

textarea{
    vertical-align: text-top;
    width: 500px;
    height: 150px;
}

input[type=text], [type=mail], select{
    width: 500px;
}

label{
    width: 150px;
    text-align: right;
    font-weight: bold;
}

label.obrigatorio{
    color: rgb(207, 8, 8);
    font-family: 'Poppins', sans-serif;
}

div.cadastro{
    padding-left: 150px;
}

.cadastro label{
    width: 300px;
    text-align: left;
}

