@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    background-color: rgb(47, 0, 61);
}

form > div, fieldset, fieldset > div{
    margin-bottom: 10px;
    display: flex;
}

form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

h1{
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
}

fieldset{
    padding: 30px;
    background: rgba(175, 175, 175, 0.288);
    border: 1px solid #AAA;
    text-align: center;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 3px 3px 5px rgb(94, 93, 93);
}

legend, label{
    color: #fce300;
    font-weight: bold;
    font-variant: small-caps;
    font-family: 'Poppins', sans-serif;
}

textarea{
    vertical-align: text-top;
    width: 500px;
    height: 150px;
}

input[type=text], [type=mail], select{
    width: 300px;
    padding: 5px;
}

label{
    width: 150px;
    text-align: right;
    font-weight: bold;
}

label.obrigatorio{
    color: rgb(255, 230, 0);
    font-family: 'Poppins', sans-serif;
}

div.cadastro{
    padding-left: 150px;
}

.cadastro label{
    width: 300px;
    text-align: left;
}

